$purple-dark: #441761;
$purple-light: #8323ab;
$yellow: #fac136;
$font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
$cart-font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
$price-font-family: Agency FB;