.cart-main-part{
    display: flex;
    flex-flow: row wrap;
    margin: 0 20px 0 10px;
}

.cart-item-part{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: white;
    @include border(white, 20px);
    padding: 10px 10px 10px 20px;
    margin: 0 20px 5px 20px;
    flex: 60%; 
}

.empty-cart{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    font-weight: bold;
    font-size: 15pt;
}

.cart-item-line{
    display: flex;
    flex-flow: row nowrap;
    min-height: 75px;
    max-height: 75px;
    align-items: center;
    justify-content: space-between;
}

.cart-item-name{
    display: flex;
    font-family: $font-family;
    font-weight: bold;
    font-size: 13pt;
    color: $purple-dark;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.button-counter{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: white;
    background-color: $purple-dark;
    @include border($purple-dark, 10px);
    font-size: 15pt;

    &:hover{
        @include border ($purple-light, 10px);
        background-color: $purple-light;
    }

    &:active{
        position: relative;
        top: 2px;
    }
}

.cart-item-counter{
    margin: 0 5px 5px 5px;
    font-size: 20pt;
    width: 30px;
    text-align: center;
    background-color: white;
    color: $purple-dark;
    font-family: $font-family;
    font-weight: bold;
}

.item-cost{
    display: flex;
    width: 20%;
    font-family: $price-font-family;
    font-weight: bold;
    color: black;
    font-size: 20pt;
    justify-content: flex-end;
    margin-right: 30px;
}

.cart-total-main-part{
    display: flex;
    flex-direction: column;
    flex: 200px;
    height: 200px;
}

.cart-total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    @include border(white, 20px);
    padding: 10px 10px 10px 20px;
    margin: 0 20px 5px 20px;
    flex: 100px;
}

.count-all{
    display: flex;
    font-family: $font-family;
    font-weight: bold;
    font-size: 13pt;
    color: $purple-dark;
    margin: 14px 0;
}

.cost-total{
    display: flex;
    font-family: $price-font-family;
    font-weight: bold;
    color: black;
    font-size: 35pt;
    justify-content: flex-end;
}

.button-order{
    margin-top: 10px;
    padding: 5px 15px;
    background-color: $yellow;
    color: $purple-dark;
    @include border($yellow, 10px);
    font-size: 15px;
    font-family: $font-family;
    font-weight: bold;
    
    &:hover{
        background-color: $purple-light;
        color: $yellow;
        border: 2px solid $purple-light;
    }

    &:active{
        background-color: $purple-dark;
        color: $yellow;
        border: 2px solid $purple-dark;
    }
}

.zero-items{
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #fcdc8f;
    color: grey;
    @include border(#fcdc8f, 10px);
    font-size: 15px;
    font-family: $font-family;
    font-weight: bold;
}

.empty-cart-total{
    display: flex;
    flex: 2;
}